.header{
    text-align: center;
    background-color: #1b3255;
    color: rgb(99, 192, 130);
    margin-bottom: 50px;
}

.h12{
    color: #1b3255;
    
}

.hola12{
    margin-right: 40px;
}

.h3{

    color:#1b3255;
    text-align: center;
}